@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat/Montserrat-Regular.woff"),
    url("../fonts/Montserrat/Montserrat-Regular.woff2"),
    url("../fonts/Montserrat/Montserrat-Regular.eot");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  src: url("../fonts/Montserrat/Montserrat-Medium.woff"),
    url("../fonts/Montserrat/Montserrat-Medium.woff2"),
    url("../fonts/Montserrat/Montserrat-Medium.eot");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  src: url("../fonts/Montserrat/Montserrat-Bold.woff"),
    url("../fonts/Montserrat/Montserrat-Bold.woff2"),
    url("../fonts/Montserrat/Montserrat-Bold.eot");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
  src: url("../fonts/Montserrat/Montserrat-Black.woff"),
    url("../fonts/Montserrat/Montserrat-Black.woff2"),
    url("../fonts/Montserrat/Montserrat-Black.eot");
  font-weight: 900;
}

@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald/Oswald-Bold.ttf");
  src: url("../fonts/Oswald/Oswald-Bold.woff"),
    url("../fonts/Oswald/Oswald-Bold.woff2"),
    url("../fonts/Oswald/Oswald-Bold.eot");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.center {
  padding-left: calc(50vw - 585px);
  padding-right: calc(50vw - 585px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  height: 40px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2d5e5e;
  border-radius: 10px;
  color: #fff;
  border: 3px solid transparent;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.button.button--bordered {
  background: transparent;
  border: 3px solid #2d5e5e;
}

.button:hover {
  background: transparent;
  border-color: #2d5e5e;
  color: #2d5e5e;
}

.button.button--bordered:hover {
  background: #2d5e5e;
  border-color: currentColor;
  color: #fff;
}

/*slider*/
.slider {
  display: flex;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
}

.slider__arrow {
  border: none;
  background: none;
}

.slider__arrow svg {
  fill: #adddde;
}

.slider__elem {
  display: none;
  margin: 0 43px;
}

.slider__elem.slider__elem--active {
  display: block;
}

/*slider*/

/*dropdown*/
.dropdown {
  margin: 0 auto 20px;
  max-width: 944px;
  padding-left: 36px;
}

.dropdown__title {
  font: 700 24px/1.33 "Oswald", sans-serif;
  position: relative;
  transition: 0.3s;
}

.dropdown__title svg {
  fill: currentColor;
  position: absolute;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.dropdown__title::marker {
  font-size: 0;
  color: transparent;
}

.dropdown[open] .dropdown__title {
  color: #2d5e5e;
}

.dropdown[open] .dropdown__title svg {
  transform: translateY(-50%) rotate(45deg);
}

.dropdown__text {
  margin: 20px 0;
  line-height: 1.5;
}

/*dropdown*/

.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  display: block;
  float: left;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
}

.nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #85aaab;
  text-decoration: none;
}

.nav__link.nav__link--active {
  color: #6de1e3;
}

/*offer*/
.offer {
  background-color: #000;
  background-image: url("../img/photo-to-main-offer.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  line-height: 1.5;
  padding-top: 240px;
  padding-bottom: 161px;
}

.offer__title {
  margin: 0 0 55px;
  font-size: 48px;
  max-width: 454px;
}

.offer__desc {
  font-size: 24px;
  margin: 0 0 55px;
  max-width: 300px;
  font-weight: 400;
}

/*offer*/

/*services*/
.services {
  padding-top: 60px;
  padding-bottom: 37px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.services.services--counters {
  background: url("../img/counter-bg.jpg") center / cover rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  color: #fff;
}

.services.services--articles {
  background: url("../img/articles-bg.jpg") center / cover rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  color: #fff;
}

.services__item {
  max-width: 300px;
  text-align: center;
}

.services.services--articles .services__item {
  text-align: left;
  max-width: 334px;
}

.services__icon {
  margin-bottom: 30px;
}

.services__title {
  font-size: 24px;
  margin: 0 0 20px;
  color: #2d5e5e;
}

.services.services--counters .services__title,
.services.services--articles .services__title {
  color: #fff;
}

.services.services--articles .services__title {
  margin-bottom: 0;
}

.services__counter {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 14px;
}

.services__header {
  width: 100%;
  font-size: 48px;
  margin: 0 0 50px;
}

.services__cover {
  margin-bottom: 24px;
}

/*services*/
/* about */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../img/bricks.jpg") center no-repeat rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.about__content {
  max-width: 625px;
}

.about__title {
  font-size: 36px;
  margin: 0 0 50px;
}

.about__text {
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 35px;
}

.about__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* about */
/*apoinment*/
.apoinment {
  padding-top: 60px;
  padding-bottom: 60px;
}

.apoinment__title {
  text-align: center;
  font-size: 48px;
  margin: 0 0 50px;
}

/*apoinment*/
/*form*/
.form {
  max-width: 770px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 40px) 30px 40px;
  gap: 30px;
}

.form__input {
  border: 1px solid #000000;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 20px;
  width: 100%;
}

.form__input::placeholder {
  color: #000;
}

.form__input.form__input--textarea {
  resize: none;
  height: 100%;
}

.form__input:invalid {
}

.form__chechbox {
  grid-column: 1 / 3;
  text-align: center;
}

.form__checkox_label {
  position: relative;
  display: inline-block;
  padding-left: 25px;
}

.form__checkox_label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid #2d5e5e;
}

.form__checkox_label:after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  box-sizing: border-box;
  background: #2d5e5e;
  opacity: 0;
  transition: 0.5s;
}

.form__chechbox input:focus + .form__checkox_label {
  outline: 1px solid #000;
}

.form__chechbox input:checked + .form__checkox_label:after {
  opacity: 1;
}

.form .button {
  grid-column: 1 / -1;
  margin: 0 auto;
}

.form__label {
  display: block;
  position: relative;
}

.form__label.form__label--textarea {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}

/*form*/

/*reviews*/
.reviews {
  padding-top: 60px;
  padding-bottom: 60px;
}

.reviews__title {
  text-align: center;
  font-size: 48px;
  margin: 0 0 50px;
}

.reviews__item {
  padding: 20px 25px;
  background: #adddde;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px 32px;
}

.reviews__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__photo img {
  max-width: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.reviews__name {
  color: #2d5e5e;
  font-size: 18px;
}

.reviews__text {
  margin: 0;
  font-weight: 300;
}

/*reviews*/

/*faq*/
.faq {
  padding-top: 60px;
  padding-bottom: 60px;
}

.faq__title {
  text-align: center;
  font-size: 48px;
  margin: 0 0 70px;
}

/*faq*/

/*contacts*/
.contacts {
  position: relative;
  padding-top: 128px;
  padding-bottom: 128px;
}

.contacts__map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.contacts__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  position: relative;
}

.contacts__content {
  position: relative;
  z-index: 2;
  background: #adddde;
  padding: 35px;
  max-width: 477px;
  margin-left: auto;
}

.contacts__title {
  color: #2d5e5e;
  font-size: 48px;
  line-height: 1.5;
  margin: 0 0 20px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__link {
  text-decoration: none;
  color: #000000;
}

/*contacts*/

/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2d5e5e;
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer__contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

/*footer*/

/*popup*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

#form {
  padding: 0;
  border: none;
}

.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup.open .popup_box {
  transform: scale(1);
}

.popup.open .popup_box_tnx {
  transform: scale(1);
}

.popup_box {
  position: relative;
  width: 436px;
  height: 350px;
  z-index: 1;
  border-radius: 12px;
  background-color: rgba(255, 255, 255);
  transform: scale(0);
  transition: transform 0.8s;
}

.popup .popup_box h2 {
  position: absolute;
  top: 30px;
  left: 116px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 114%;
  color: #000000;
}

.popup_box_tnx {
  position: relative;
  width: 436px;
  height: 224px;
  z-index: 1;
  border-radius: 12px;
  background-color: rgba(255, 255, 255);
  transform: scale(0);
  transition: transform 0.8s;
}

.popup .popup_box_tnx h1 {
  position: absolute;
  top: 50px;
  left: 42px;
  max-width: 352px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 114%;
  text-align: center;
  color: #000000;
}

.popup .popup_box .name {
  position: absolute;
  width: 386px;
  height: 48px;
  margin: 88px 0 0 24px;
  padding: 0 0 0 14px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #1d1b1b;
  background: #fbfbfb;
  border: 1px solid #eeeded;
  border-radius: 4px;
}

.popup .popup_box .name::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #1d1b1b;
}

.popup .popup_box .phone {
  position: absolute;
  width: 386px;
  height: 48px;
  margin: 146px 0 0 24px;
  padding: 0 0 0 14px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #1d1b1b;
  background: #fbfbfb;
  border: 1px solid #eeeded;
  border-radius: 4px;
}

.popup .popup_box .phone::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #1d1b1b;
}

.popup .popup_box .email {
  position: absolute;
  width: 386px;
  height: 48px;
  margin: 204px 0 0 24px;
  padding: 0 0 0 14px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #1d1b1b;
  background: #fbfbfb;
  border: 1px solid #eeeded;
  border-radius: 4px;
}

.popup .popup_box .email::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #1d1b1b;
}

.popup .popup_box .send_btn {
  position: absolute;
  display: block;
  width: 386px;
  height: 42px;
  top: 266px;
  right: 25px;
  z-index: 1;
  background: #01d957;
  border: none;
  border-radius: 27px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}

.popup .popup_box .send_btn:hover {
  display: block;
  width: 386px;
  height: 42px;
  background: linear-gradient(45deg, #01d957, #40e0d0, #ff8c00);
  animation: gradient 4s ease infinite;
  background-size: 600% 600%;
  border-radius: 27px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 114%;
  color: #0d270e;
  text-align: center;
  cursor: pointer;
}

.close_btn {
  position: absolute;
  top: 0;
  right: -40px;
  z-index: 3;
  overflow: visible;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close_btn svg {
  pointer-events: none;
}

.close_btn svg path {
  transition: fill 2s;
}

.close_btn:hover svg path {
  fill: #e8960f;
}

.close_btn:active svg path {
  fill: #1c19bb;
}

/*popup*/

.form-submitted--success {
  color: #01d957;
}

.error-info {
  color: red;
  grid-column: 1 / -1;
  text-align: center;
  margin: 0;
}

.info {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 380px;
  padding: 25px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  color: #fff;
  display: none;
}

.info--open {
  display: flex;
}
